
/**
 * Category 
 */
 
.category > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 16px;
}

.category > .header .date {
	font-size: 0.9em;
	color: #616161;
}
