/** themes/default/modules/main/views/components/contact/style.css */
/**
 * Contact 
 */

.contact > ul > li {
	margin-bottom: 8px;
}

.contact > ul > li > span {
	padding-top: 8px;
	padding-bottom: 8px;
	display: inline-block;
}
/** themes/default/modules/main/views/components/error/style.css */
/**
 * Error 
 */

body > .error .title {}

body > .error .message {}
